.tile-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    width: 100%;
}

.junior {
    width: calc(8 * 30px);
}

.senior {
    max-width: calc(16 * 30px);
}

.master {
    max-width: calc(32 * 30px);
}