:host {
    font-family: 'Digital Dismay';
    font-size: 35px;
    letter-spacing: 1px;
    color: red;
    background-color: black;
    text-align: center;
    padding: 4px 4px 0 7px;
    line-height: 1em;
    min-width: 70px;;

    display: flex;
    align-items: center;
    justify-content: center;
}