:host {
    width: 2rem;
    height: 2rem;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(171,171,171);
}

.tile-bombs-count {
    position:absolute;
}

.tile-image {
    position: absolute; 
    width: 100%;
    height: 100%;
}