<div class="board">

    <div style="display: flex; justify-content: space-between;">

        <div>
            <button type="button" (click)="this.changeDifficulty('Junior')">Junior</button>
            <button type="button" (click)="this.changeDifficulty('Senior')">Senior</button>
            <button type="button" (click)="this.changeDifficulty('Master')">Master</button>
            <input type="checkbox" [(ngModel)]="this.engine.debug"> Debug

            <label *ngIf="this.engine.context.victory">Victory</label>

            <div>
                Difficulty: {{ this.engine.context.difficulty }}
            </div>

            <div *ngIf="this.engine.context.bombs">
                Bombs: {{ this.engine.context.bombs }}
            </div>
        </div>

        <div style="display: flex; justify-content: center;">
            <app-minesweeper-tiles #tilesBoard></app-minesweeper-tiles>
        </div>
        <div>
            <app-timer [time]="this.engine.context.timer"></app-timer>
        </div>
    </div>
</div>