<div class="board">
    <button type="button">New Game</button>
    <button type="button" (click)="this.changeDifficulty('Junior')">Junior</button>
    <button type="button" (click)="this.changeDifficulty('Senior')">Senior</button>
    <button type="button" (click)="this.changeDifficulty('Master')">Master</button>

    <div>
        Time: {{ this.engine.timer }}
    </div>

    <div>
        Difficulty: {{ this.engine.difficulty }}
    </div>

    <div *ngIf="this.engine.bombs">
        Bombs: {{ this.engine.bombs }}
    </div>


    <div style="display: flex; justify-content: center;">
        <app-minesweeper-tiles #tilesBoard></app-minesweeper-tiles>
    </div>
</div>